{% extends 'base_user_entreprise.html.twig' %}


{% block block_active %}

    <div class="main">
        <div id="content" class="container">

            <div class="row">
                <a href="/help/popup/rating-about" class="statistics_item" data-ajaxe="true">
                    <div class="statistics_item__top">
			<span>
				Rating			</span>
                    </div>
                    <div class="statistics_item__ico statistics_item__rating zero">
                        9
                    </div>
                    <div class="statistics_item__info">
                        <p>
                            Increase your Rating to earn more! </p>
                    </div>

                    <div class="statistics_item__rating_ind" data-toggle="tooltip" data-original-title="EXP: 8370">
                        <div class="rating_ind-line" style="width: 48.950840215254%"></div>
                    </div>
                </a>
                <a href="/help/popup/rating-income" class="statistics_item" data-ajaxe="true">
                    <div class="statistics_item__top">
			<span>
				Current income			</span>
                    </div>
                    <div class="statistics_item__ico statistics_item__current-income"
                         id="statistics_item__current-income" data-val="0.09" data-bgcolor="#eee"
                         style="font-family: &quot;Open Sans&quot;, Helvetica, sans-serif; font-size: 22px; font-weight: 800;">

                        <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                            <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#eee"
                                  stroke-width="4" fill-opacity="0"></path>
                            <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#3F8EFA"
                                  stroke-width="4" fill-opacity="0"
                                  style="stroke-dasharray: 301.635, 301.635; stroke-dashoffset: 274.488;"></path>
                        </svg>
                        <div class="progressbar-text"
                             style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(63, 142, 250);">
                            109%
                        </div>
                    </div>
                    <div class="statistics_item__info">
                        <p>
                            Each rating point increases revenue by&nbsp;1% </p>
                    </div>
                </a>
                <a href="/help/popup/rating-speed" class="statistics_item" data-ajaxe="true">
                    <div class="statistics_item__top">
			<span>
				Speed bonus			</span>
                    </div>
                    <div class="statistics_item__ico statistics_item__speed x1">
			<span>
				x1			</span>
                    </div>
                    <div class="statistics_item__info">
                        <p>
                            Invite referrals to increase rating faster </p>
                    </div>
                </a>
                <a href="/help/popup/qualification-about" class="statistics_item" data-ajaxe="true">
                    <div class="statistics_item__top">
			<span>
				Qualification			</span>
                    </div>


                    <div class="statistics_item__qualification not-work">
                        <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7.5 45C7.5 65.7113 24.2887 82.5 45 82.5C65.7113 82.5 82.5 65.7113 82.5 45C82.5 24.2887 65.7113 7.5 45 7.5C24.2887 7.5 7.5 24.2887 7.5 45ZM75 45C75 61.5685 61.5685 75 45 75C28.4315 75 15 61.5685 15 45C15 28.4315 28.4315 15 45 15C61.5685 15 75 28.4315 75 45Z"
                                  fill="#FF5A5A" fill-opacity="0.3"></path>
                            <path d="M45.0001 39.6976L55.6051 29.0889L60.9114 34.3951L50.3026 45.0001L60.9114 55.6051L55.6051 60.9114L45.0001 50.3026L34.3951 60.9114L29.0889 55.6051L39.6976 45.0001L29.0889 34.3951L34.3951 29.0889L45.0001 39.6976Z"
                                  fill="#FF5A5A"></path>
                        </svg>
                        <p>
                            <b>Qualification expired!</b><br>
                            You are losing rating and referral income </p>
                    </div>


                </a>
            </div>
            <div class="row">
                <div class="typical-block">
                    <div class="typical-block_top">
                        <div class="typical-block_title">
                            User account
                        </div>
                    </div>
                    <div class="typical-block_main control-center-contractors_account">
                        <div class="d-flex">
                            <div class="my-balance">
                                <div class="my-balance_top__wrap">
                                    <div id="user-bal" class="my-balance_top" data-val="0.0501261"><span>$0</span><span>.0501261</span>
                                    </div>
                                    <a href="/withdraw/method" class="withdraw-funds_btn popup-btn" data-ajaxe="true">
                                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M14 16.5V15.2497L14.873 15.1042C15.2346 15.0441 15.4998 14.7313 15.5 14.3647V12.75H16.25V11.25H15.5V5.99996H16.25V4.49996H15.5V2.88521C15.4998 2.51859 15.2346 2.20583 14.873 2.14571L6.9365 0.822707C6.82782 0.804638 6.71669 0.835278 6.63262 0.906491C6.54855 0.977703 6.50005 1.08228 6.5 1.19246V2.24996H1.25C0.835786 2.24996 0.5 2.58574 0.5 2.99996V14.25C0.5 14.6642 0.835786 15 1.25 15H2V16.5H3.5V15H6.5V16.0575C6.50005 16.1676 6.54855 16.2722 6.63262 16.3434C6.71669 16.4146 6.82782 16.4453 6.9365 16.4272L12.5 15.5002V16.5H14ZM2 13.5V3.74996H6.5V13.5H2ZM8 14.73L14 13.7295V3.52046L8 2.52071V14.7292V14.73ZM10.25 8.62496C10.25 9.65996 10.754 10.5 11.375 10.5C11.996 10.5 12.5 9.65996 12.5 8.62496C12.5 7.58996 11.996 6.74996 11.375 6.74996C10.754 6.74996 10.25 7.58996 10.25 8.62496Z"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <a href="/profile/withdraw-history" class="control-center-advertisers_account__btn"
                               data-ajaxe="true">


                                <img src="{{ asset('images/wallet-line.svg') }}" alt="ico">
                                <span>
						Withdrawal history					</span>
                            </a>
                        </div>
                        <div class="my-balance_information">
                            <div class="my-balance_information__item">
                                <div class="my-balance_information__item-title">
                                    Total income:
                                </div>
                                <div class="my-balance_information__item-bottom">
                                    <div id="total-income" class="my-balance_information__item-amount"
                                         data-val="0.0831043">
                                        $0.0831043
                                    </div>
                                </div>
                            </div>
                            <div class="my-balance_information__item">
                                <div class="my-balance_information__item-title">
                                    Daily income:
                                </div>
                                <div class="my-balance_information__item-bottom">
                                    <div class="my-balance_information__item-amount">
                                        $0
                                    </div>
                                </div>
                            </div>

                            <div class="my-balance_information__item">
                                <div class="my-balance_information__item-title">
                                    Active referrals:
                                </div>
                                <div class="my-balance_information__item-bottom">
                                    <div class="my-balance_information__item-amount">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-2 double">
                    <div class="typical-block">
                        <div class="typical-block_top">
                            <div class="typical-block_title">
                                Personal income
                            </div>
                        </div>
                        <div class="typical-block_main total-income">


                            <div id="personal-graph">
                                <div class="total-income_chart__sorting">
                                    <div class="sorting-select_wrap">
                                        <div class="sorting-select inited">
			<span>
				Per 2 weeks			</span>
                                            <img src="{{ asset('images/arrow-down-blue.svg') }}" alt="ico">
                                        </div>
                                        <div class="sorting-select_dropdown inited">
                                            <ul class="sorting-select_dropdown__list">
                                                <li data-href="/profile/graph?id=personal-graph&amp;file=simple-graph&amp;height=284&amp;period=month">
					<span>
						Per month					</span>
                                                    <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                                </li>
                                                <li data-href="/profile/graph?id=personal-graph&amp;file=simple-graph&amp;height=284&amp;period=week"
                                                    class="active">
					<span>
						Per 2 weeks					</span>
                                                    <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                                </li>
                                                <li data-href="/profile/graph?id=personal-graph&amp;file=simple-graph&amp;height=284&amp;period=day">
					<span>
						Per 24 hours					</span>
                                                    <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="chart_sorting__info">
                                        September 8, 2020 — September 21, 2020
                                    </div>
                                </div>

                                <div class="total-income_chart">
                                    <canvas id="graph-547344budget" style="width: 100%; height: 284px; display: block;"
                                            width="481" height="254"></canvas>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2">
                    <div class="typical-block">
                        <div class="typical-block_top">
                            <div class="typical-block_title">
                                Affiliate income
                            </div>
                        </div>
                        <div class="typical-block_main total-income">


                            <div id="referral-graph">
                                <div class="total-income_chart__sorting">
                                    <div class="sorting-select_wrap">
                                        <div class="sorting-select inited">
			<span>
				Per 2 weeks			</span>
                                            <img src="{{ asset('images/arrow-down-blue.svg') }}" alt="ico">
                                        </div>
                                        <div class="sorting-select_dropdown inited">
                                            <ul class="sorting-select_dropdown__list">
                                                <li data-href="/profile/graph?id=referral-graph&amp;file=simple-graph&amp;height=284&amp;period=month">
					<span>
						Per month					</span>
                                                    <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                                </li>
                                                <li data-href="/profile/graph?id=referral-graph&amp;file=simple-graph&amp;height=284&amp;period=week"
                                                    class="active">
					<span>
						Per 2 weeks					</span>
                                                    <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                                </li>
                                                <li data-href="/profile/graph?id=referral-graph&amp;file=simple-graph&amp;height=284&amp;period=day">
					<span>
						Per 24 hours					</span>
                                                    <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="chart_sorting__info">
                                        September 8, 2020 — September 21, 2020
                                    </div>
                                </div>

                                <div class="total-income_chart">
                                    <canvas id="graph-547344referral"
                                            style="width: 100%; height: 284px; display: block;" width="481"
                                            height="254"></canvas>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tasks-performer_wrap">
                <div class="task-performer task-234848">
                    <div class="task-performer_cover">
                        <img src="https://i.ytimg.com/vi/_FcdrX9-epk/hqdefault.jpg" alt="img">
                        <a href="/view-video/234848" target="_blank" data-ajaxe="false" class="task-performer_play">
                            <img src="play-fill.svg" alt="ico">
                        </a>
                    </div>
                    <div class="task-performer_info">
                        <div class="task-performer_type">
                            <img src="{{ asset('images/video-type.svg') }}" alt="ico">
                            <span>
                Watch video            </span>
                        </div>
                        <div class="task-performer_time">
                            <img src="{{ asset('images/clock-task.svg') }}" alt="ico">
                            <span>
                20&nbsp;sec.            </span>
                        </div>
                    </div>
                    <div class="task-performer_bottom">
                        <div class="task-performer_price">
                            +$&nbsp;0.000436
                        </div>
                        <a href="/view-video/234848" target="_blank" data-ajaxe="false" class="task-performer_btn">
                            Start </a>
                    </div>
                </div>


                <div class="task-performer task-256629">
                    <div class="task-performer_cover">
                        <img src="https://i.ytimg.com/vi/EC-QdLNUP60/hqdefault.jpg" alt="img">
                        <a href="/view-video/256629" target="_blank" data-ajaxe="false" class="task-performer_play">
                            <img src="{{ asset('images/play-fill.svg') }}" alt="ico">
                        </a>
                    </div>
                    <div class="task-performer_info">
                        <div class="task-performer_type">
                            <img src="{{ asset('images/video-type.svg') }}" alt="ico">
                            <span>
                Watch video            </span>
                        </div>
                        <div class="task-performer_time">
                            <img src="{{ asset('images/clock-task.svg') }}" alt="ico">
                            <span>
                20&nbsp;sec.            </span>
                        </div>
                    </div>
                    <div class="task-performer_bottom">
                        <div class="task-performer_price">
                            +$&nbsp;0.000436
                        </div>
                        <a href="/view-video/256629" target="_blank" data-ajaxe="false" class="task-performer_btn">
                            Start </a>
                    </div>
                </div>


                <div class="task-performer task-258361">
                    <div class="task-performer_cover">
                        <img src="https://i.ytimg.com/vi/Vg7TSmGEulU/hqdefault.jpg" alt="img">
                        <a href="/view-video/258361" target="_blank" data-ajaxe="false" class="task-performer_play">
                            <img src="{{ asset('images/play-fill.svg') }}" alt="ico">
                        </a>
                    </div>
                    <div class="task-performer_info">
                        <div class="task-performer_type">
                            <img src="{{ asset('images/video-type.svg') }}" alt="ico">
                            <span>
                Watch video            </span>
                        </div>
                        <div class="task-performer_time">
                            <img src="{{ asset('images/clock-task.svg') }}" alt="ico">
                            <span>
                20&nbsp;sec.            </span>
                        </div>
                    </div>
                    <div class="task-performer_bottom">
                        <div class="task-performer_price">
                            +$&nbsp;0.000436
                        </div>
                        <a href="/view-video/258361" target="_blank" data-ajaxe="false" class="task-performer_btn">
                            Start </a>
                    </div>
                </div>


                <div class="task-performer task-264747">
                    <div class="task-performer_cover">
                        <img src="https://i.ytimg.com/vi/L1ykWTzimnA/hqdefault.jpg" alt="img">
                        <a href="/view-video/264747" target="_blank" data-ajaxe="false" class="task-performer_play">
                            <img src="{{ asset('images/play-fill.svg') }}" alt="ico">
                        </a>
                    </div>
                    <div class="task-performer_info">
                        <div class="task-performer_type">
                            <img src="{{ asset('images/video-type.svg') }}" alt="ico">
                            <span>
                Watch video            </span>
                        </div>
                        <div class="task-performer_time">
                            <img src="{{ asset('images/clock-task.svg') }}" alt="ico">
                            <span>
                20&nbsp;sec.            </span>
                        </div>
                    </div>
                    <div class="task-performer_bottom">
                        <div class="task-performer_price">
                            +$&nbsp;0.000436
                        </div>
                        <a href="/view-video/264747" target="_blank" data-ajaxe="false" class="task-performer_btn">
                            Start </a>
                    </div>
                </div>


                <div class="task-performer task-264802">
                    <div class="task-performer_cover">
                        <img src="https://i.ytimg.com/vi/oDnKwUVZwYw/hqdefault.jpg" alt="img">
                        <a href="/view-video/264802" target="_blank" data-ajaxe="false" class="task-performer_play">
                            <img src="{{ asset('images/play-fill.svg') }}" alt="ico">
                        </a>
                    </div>
                    <div class="task-performer_info">
                        <div class="task-performer_type">
                            <img src="{{ asset('images/video-type.svg') }}" alt="ico">
                            <span>
                Watch video            </span>
                        </div>
                        <div class="task-performer_time">
                            <img src="{{ asset('images/clock-task.svg') }}" alt="ico">
                            <span>
                20&nbsp;sec.            </span>
                        </div>
                    </div>
                    <div class="task-performer_bottom">
                        <div class="task-performer_price">
                            +$&nbsp;0.000436
                        </div>
                        <a href="/view-video/264802" target="_blank" data-ajaxe="false" class="task-performer_btn">
                            Start </a>
                    </div>
                </div>


                <div class="task-performer task-264863">
                    <div class="task-performer_cover">
                        <img src="https://i.ytimg.com/vi/iyxmVCFxg1Q/hqdefault.jpg" alt="img">
                        <a href="/view-video/264863" target="_blank" data-ajaxe="false" class="task-performer_play">
                            <img src="{{ asset('images/play-fill.svg') }}" alt="ico">
                        </a>
                    </div>
                    <div class="task-performer_info">
                        <div class="task-performer_type">
                            <img src="{{ asset('images/video-type.svg') }}" alt="ico">
                            <span>
                Watch video            </span>
                        </div>
                        <div class="task-performer_time">
                            <img src="{{ asset('images/clock-task.svg') }}" alt="ico">
                            <span>
                20&nbsp;sec.            </span>
                        </div>
                    </div>
                    <div class="task-performer_bottom">
                        <div class="task-performer_price">
                            +$&nbsp;0.000436
                        </div>
                        <a href="/view-video/264863" target="_blank" data-ajaxe="false" class="task-performer_btn">
                            Start </a>
                    </div>
                </div>


                <div class="task-performer task-264941">
                    <div class="task-performer_cover">
                        <img src="https://i.ytimg.com/vi/-rPjRM4U-7k/hqdefault.jpg" alt="img">
                        <a href="/view-video/264941" target="_blank" data-ajaxe="false" class="task-performer_play">
                            <img src="{{ asset('images/play-fill.svg') }}" alt="ico">
                        </a>
                    </div>
                    <div class="task-performer_info">
                        <div class="task-performer_type">
                            <img src="{{ asset('images/video-type.svg') }}" alt="ico">
                            <span>
                Watch video            </span>
                        </div>
                        <div class="task-performer_time">
                            <img src="{{ asset('images/clock-task.svg') }}" alt="ico">
                            <span>
                20&nbsp;sec.            </span>
                        </div>
                    </div>
                    <div class="task-performer_bottom">
                        <div class="task-performer_price">
                            +$&nbsp;0.000436
                        </div>
                        <a href="/view-video/264941" target="_blank" data-ajaxe="false" class="task-performer_btn">
                            Start </a>
                    </div>
                </div>


                <div class="task-performer task-264837">
                    <div class="task-performer_cover">
                        <img src="https://i.ytimg.com/vi/0wEs2PKR2x8/hqdefault.jpg" alt="img">
                        <a href="/view-video/264837" target="_blank" data-ajaxe="false" class="task-performer_play">
                            <img src="{{ asset('images/play-fill.svg') }}" alt="ico">
                        </a>
                    </div>
                    <div class="task-performer_info">
                        <div class="task-performer_type">
                            <img src="{{ asset('images/video-type.svg') }}" alt="ico">
                            <span>
                Watch video            </span>
                        </div>
                        <div class="task-performer_time">
                            <img src="{{ asset('images/clock-task.svg') }}" alt="ico">
                            <span>
                300&nbsp;sec.            </span>
                        </div>
                    </div>
                    <div class="task-performer_bottom">
                        <div class="task-performer_price">
                            +$&nbsp;0.0040984
                        </div>
                        <a href="/view-video/264837" target="_blank" data-ajaxe="false" class="task-performer_btn">
                            Start </a>
                    </div>
                </div>

                <a href="https://surfe.be/ext/click?id=205581" target="_blank" data-ajaxe="false"
                   class="task-performer task-205581"
                   style="background:url(https://static.surfe.be/upload/1/879f4d963ec97fd33a7a02fa37d7b6e3.png) center no-repeat; height:287.5px;">
                </a>
                <div class="task-performer invisible"></div>
                <div class="task-performer invisible"></div>
                <div class="task-performer invisible"></div>
            </div>

            <div class="row">
                <ins class="surfe-be" data-sid="226844"></ins>
            </div>


            <div class="business-machine row">
                <div class="business-machine_info">
                    <div class="business-machine_info__top">
                        <div class="business-machine_title">
                            Business Machine
                        </div>
                        <div class="statistics_item__more">
                            <a href="/help/popup/business-machine" class="popup-btn" data-ajaxe="true">
                                <img src="{{ asset('images/info.svg') }}" alt="ico">
                                <span>
						More detailed					</span>
                            </a>
                        </div>
                    </div>
                    <div class="business-machine_balance">
                        <div class="my-balance">
                            <div class="my-balance_top__wrap">
                                <div class="my-balance_top">
                                    <a id="bm-bal" href="/banner/balance/239423" data-val="0.0329673" data-ajaxe="true"><span>$0</span><span>.0329673</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="my-balance_information">
                            <div class="my-balance_information__item">
                                <div class="my-balance_information__item-title">
                                    Referrals attracted:
                                </div>
                                <div class="my-balance_information__item-bottom">
                                    <div class="my-balance_information__item-amount">
                                        0
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="business-machine_rangeslider__wrap">
                        <div class="business-machine_rangeslider__top">
                            <div class="business-machine_rangeslider__title">
                                Percentage of earnings
                            </div>
                            <div class="business-machine_rangeslider__output-wrap">
                                <input type="text" class="range-output" value="50">
                                <span>
						%
					</span>
                            </div>
                        </div>
                        <div class="business-machine_rangeslider">
                            <input id="bm-coef-range" type="range" min="10" max="80" step="1" value="50" class="inited"
                                   style="position: absolute; width: 1px; height: 1px; overflow: hidden; opacity: 0;">
                            <div class="rangeslider rangeslider--horizontal" id="js-rangeslider-7">
                                <div class="rangeslider__fill" style="width: 270.286px;"></div>
                                <div class="rangeslider__handle" style="left: 258.286px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="business-machine_btns">

                        <a href="/banner/stop/239423" class="task_btn stop " data-ajaxe="true">
                            <img src="{{ asset('images/banner-pause.svg') }}" class="btn-icon" alt="ico">
                            <span>
					Stop				</span>
                        </a>
                        <div data-original-title="Cost per 1000 impressions" class="counter ">
                            <div class="counter_btn cpm-minus inited" data-val="-.001">
                                <svg width="10" height="2" viewBox="0 0 10 2" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H10V2H0V0Z"></path>
                                </svg>
                            </div>
                            <input type="text" class="banner_cpm inited" id="239423" name="Banner[cpm]" data-min="0.02"
                                   data-max="0.1" data-loop="0" value="$0.010">
                            <div class="counter_btn cpm-plus inited" data-val=".001">
                                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.33337 4.33331V0.333313H5.66671V4.33331H9.66671V5.66665H5.66671V9.66665H4.33337V5.66665H0.333374V4.33331H4.33337Z"></path>
                                </svg>
                            </div>
                        </div>

                        <a class="task_btn start hidden" href="/referral/business-machine" data-ajaxe="true">
                            <img src="{{ asset('images/banner-play.svg') }}" class="btn-icon" alt="ico">
                            <span>
					Start				</span>
                        </a>

                    </div>
                </div>

                <div class="business-machine_chart">
                    <div id="bm-graph">
                        <div class="business-machine_chart__top">

                            <div class="chart_sorting">
                                <div class="sorting-select_wrap">
                                    <div class="sorting-select inited">
					<span>
						Per 2 weeks					</span>
                                        <img src="{{ asset('images/arrow-down-blue.svg') }}" alt="ico">
                                    </div>
                                    <div class="sorting-select_dropdown inited">
                                        <ul class="sorting-select_dropdown__list">
                                            <li data-href="/profile/graph?id=bm-graph&amp;period=month&amp;bid=239423&amp;type=0">
							<span>
								Per month							</span>
                                                <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                            </li>
                                            <li data-href="/profile/graph?id=bm-graph&amp;period=week&amp;bid=239423&amp;type=0"
                                                class="active">
							<span>
								Per 2 weeks							</span>
                                                <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                            </li>
                                            <li data-href="/profile/graph?id=bm-graph&amp;period=day&amp;bid=239423&amp;type=0">
							<span>
								Per 24 hours							</span>
                                                <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="chart_sorting__info">
                                    September 8, 2020 — September 21, 2020
                                </div>
                            </div>

                        </div>

                        <div class="total-income_chart">
                            <canvas id="graph-239423bm0" style="width: 100%; height: 230px; display: block;" width="478"
                                    height="206"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
