{% extends 'base_user_entreprise.html.twig' %}

{% block block_active %}

    <div class="main">
        <div id="content" class="container">

            <div class="row" style="display: table;">
                <div class="control-center-advertisers_account__wrap">
                    <div class="typical-block">
                        <div class="typical-block_top">
                            <div class="typical-block_title">
                                Advertiser account
                            </div>
                        </div>
                        <div class="typical-block_main control-center-advertisers_account">
                            <div class="my-balance">
                                <div class="my-balance_top__wrap">
                                    <div class="my-balance_top">
                                        <span>$0</span><span>.0000007</span></div>
                                </div>
                            </div>
                            <a href="/add" class="blue-ico-btn" data-ajaxe="true">
                                <img src="{{ asset('images/file-add-line.svg') }}" alt="ico">
                                <span>
						Place ad					</span>
                            </a>
                            <a href="/advertiser" class="control-center-advertisers_account__btn" data-ajaxe="true">
                                <img src="{{ asset('images/rocket-line.svg') }}" alt="ico">
                                <span>
						My ad					</span>
                            </a>
                            <a href="/budget" class="control-center-advertisers_account__btn" data-ajaxe="true">


                                <img src="{{ asset('images/wallet-line.svg') }}" alt="ico">
                                <span>
						Budget					</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ad-site-statistics_wrap">
                    <div class="typical-block">
                        <div class="typical-block_top">
                            <div class="typical-block_title">
                                Advertising platform statistics
                            </div>
                        </div>
                        <div class="typical-block_main ad-site-statistics">
                            <div class="ad-site-statistics_item">
                                <div class="ad-site-statistics_ico">
                                    <img src="{{ asset('images/user-green.svg') }}" alt="ico">
                                </div>
                                <div class="ad-site-statistics_info">
						<span>
							318 303						</span>
                                    <span>
							daily coverage						</span>
                                </div>
                            </div>
                            <div class="ad-site-statistics_item">
                                <div class="ad-site-statistics_ico">
                                    <img src="{{ asset('images/eye-blue.svg') }}" alt="ico">
                                </div>
                                <div class="ad-site-statistics_info">
						<span>
							10&nbsp;567&nbsp;381						</span>
                                    <span>
							impressions per day						</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row business-machine-how promo_free">

                <div class="row">
                    <div class="col-4">
                        <img class="gift-promo_free" src="{{ asset('images/gift-box1.png') }}" alt="gift">
                    </div>
                    <div class="col-8">

                        <div class="promo_free-title">
                            Try <span>for free</span></div>
                        <p>
                            Get 25 free clicks on&nbsp;your banner or&nbsp;video views right now! </p>
                        <a href="/promo/free-clicks" class="blue-btn" data-ajaxe="true">
                            Activate </a>
                    </div>
                </div>

            </div>

            <style>
                .gift-promo_free {
                    display: block;
                    margin: 0 auto;
                    width: 60%;
                }

                .promo_free-title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    color: #FFFFFF;
                    margin-bottom: 34px;
                }

                .promo_free-title span {
                    color: #FFD129;
                }

                .promo_free .blue-btn {
                    margin: 0;
                }

                .promo_free .blue-btn:hover {
                    background: #fff;
                    color: #293a77;
                }

                .promo_free p {
                    color: #fff;
                    font-size: 18px;
                    margin: 20px 0 30px;
                }
            </style>

            <div class="row">
                <div class="typical-block">
                    <div id="budget-graph">
                        <div class="typical-block_top budget-chart_top">
                            <div class="chart_sorting">
                                <div class="sorting-select_wrap">
                                    <div class="sorting-select inited">
					<span>
						Per 2 weeks					</span>
                                        <img src="{{ asset('images/arrow-down-blue.svg') }}" alt="ico">
                                    </div>
                                    <div class="sorting-select_dropdown inited">
                                        <ul class="sorting-select_dropdown__list">
                                            <li data-href="/profile/graph?id=budget-graph&amp;period=month&amp;type=0">
							<span>
								Per month							</span>
                                                <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                            </li>
                                            <li data-href="/profile/graph?id=budget-graph&amp;period=week&amp;type=0"
                                                class="active">
							<span>
								Per 2 weeks							</span>
                                                <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                            </li>
                                            <li data-href="/profile/graph?id=budget-graph&amp;period=day&amp;type=0">
							<span>
								Per 24 hours							</span>
                                                <img src="{{ asset('images/chek-blue.svg') }}" alt="ico">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="chart_sorting__info">
                                    September 8, 2020 — September 21, 2020
                                </div>
                            </div>

                        </div>
                        <div class="typical-block_main budget-chart">
                            <canvas id="graph-547344budget" style="width: 100%; height: 270px; display: block;"
                                    width="1029" height="242"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="control-center-advertisers_tasks__title">
		<span>
			Active and recent ad campaigns		</span>
                </div>
            </div>


            <div class="row">
                <div class="show-more">
                    All ads
                </div>
            </div>
        </div>
    </div>

{% endblock %}